.btnMenu {
    display: block;     
    background-repeat: no-repeat;    
    text-indent: -9999px;
    background-color: #639d30; 

}

.btnMenu_open {
    background-image: url(../assets/menu.svg);
    padding: 10px 5px; 
    background-position: 15px center; 
}

.btnMenu_close {
    background-color: #639d30;
    background-image: url(../assets/logo.svg);  
    padding: 50px 0 ; 
    background-position: 130px center;  
}
