.learn2-page {
    display: flex;
    flex-direction: row;
    margin: 0px 16px 0px 16px;
}

.learn2-page img {
    position: relative;
    top: 90px;
    width: 132px;
    height: 125px;
    border-radius: 25px;
}

.learn2-page span {
    padding: 16px;
    margin-left: 26px;
    margin-top: 85px;
    background-color: #161616;
    border-radius: 10px;
    font-size: 14px;

}

.lesson-1 {
    display:flex;
    margin: 16px;
    top: 24px;
    height: 80px; 
}

.lesson-1 .left {
    background-color: #639D30;
    flex: 1;
}

.lesson-1 .right {
    background-color: #161616;
    flex: 3;
    display: block;
    text-align: center;
    line-height: 80px;
}

.lesson-1 .left img {
    display: block;
    margin: 12% auto;
    width: 60%;
    background-color: #639D30;
}

.button {
    background-color: #639d30;
    padding: 8px 16px;
    border-radius: 50px;
    border-style: none;
    position: relative;
    left: 48px;
}

.button:active {
    background-color: #547a32; ;
}