.stories {
    display: grid;
    grid-template-columns: repeat(5, 60%);
    background: #2F2F2F;
    overflow: auto;
    white-space: nowrap;
    position: relative;
    top: 80px;

}

.storiessection {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin-left: 16px;
}

.storiesitem {
    padding: 0 2px;
    transition: 250ms;
}